.home-container{
  background-image: linear-gradient(to right top, #171717, #1f1f1f, #272727, #2f2f2f, #383838, #413e48, #4d4256, #5c4663, #7c416d, #a03369, #c21c57, #da0037);
  height: 100vh;
  
}

.card-title{
  font-size: 30px;
  margin-bottom: 10px;
}

.pick-up-container{
  padding: 0;
  margin: 0;
}

.line-dash{
  rotate: 90deg;
  scale: 2;
  margin-left: 15px;
  margin-top: 0px;
  margin-bottom:0;
}

.suggestions-list{
  z-index: 1;
  position: absolute;
  background-color: white;
  border: 1px solid #383838;
  width: 90%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-top: 0;
  padding-left: 0;
}

.suggestion{
  padding: 0;
  padding-left: 5%;
}

.suggestion:hover{
  background-color: grey;
}

.search-list-item{
  height: 7rem;
}

.list-detail{
  font-size: small;
}

.search-rocket{
  scale: 2;
  padding: 0;
  margin-top: 40%;
  margin-bottom: 40%;
  margin-left: 40%;
  margin-bottom: 40%;
  color:#c21c57
}

.search-rocket:hover{
  cursor: pointer;
  color:#755560
}

.card-container{
  width: 24rem;
}



