.home-container{
  height: 100vh;
  padding-top: 15px;
  padding-bottom: 0;
}

.card-title{
  font-size: 25px;
  margin-bottom: 10px;
}

.card-note{
  font-size: 15px;
  margin-bottom: 10px;
}

.pick-up-container{
  padding: 0;
  margin: 0;
}

.line-dash{
  rotate: 90deg;
  scale: 2;
  margin-left: 15px;
  margin-top: 0px;
  margin-bottom:0;
}

.suggestions-list{
  z-index: 3;
  position: absolute;
  background-color: white;
  border: 1px solid #383838;
  width: 90%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-top: 0;
  padding-left: 0;
}

.suggestion{
  padding: 0;
  padding-left: 5%;
}

.suggestion:hover{
  background-color: grey;
}

.search-list-item{
  height: 10rem;
  background-color: rgb(207, 207, 207);
  margin-bottom: 5px ;
  transition: all .1s ease-in-out;
}

.search-list-item:hover{
  scale: 0.98;
}

.payload-list-item{
  height: 100px;
  margin-bottom: 5px ;
  background-color: rgb(207, 207, 207);
  transition: all .1s ease-in-out;
}

.payload-list-item:hover{
  scale: 0.98;
}

.search-list-item-selected{
  height: 10rem;
  margin-bottom: 5px ;
  background-color:#d4b1bd;

}

.list-detail{
  font-size: small;
  margin-bottom: 2px;
}

.search-rocket{
  scale: 2;
  padding: 0;
  margin-top: 50%;
  color:#DA0037
}





.search-rocket:hover{
  cursor: pointer;
  color:#755560;
  scale: 1.5
}

.card-container{
  width: 36rem;
  background-color: aliceblue;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.search-results-container{
  width: 36rem;
  background-color: aliceblue;
  padding: 10px;
  
}

.search-listgroup{
  max-height: 400px;
  margin-bottom: 10px;
  overflow:auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.payload-listgroup{
  max-height: 835px;
  margin-bottom: 10px;
  overflow:auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.available-payloads-container{
  background-color:aliceblue;
  height: fit-content;
  padding: 15px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.payloads-title{
  color: black;
  margin: auto;
  margin-bottom: 5px;
}

.search-field-container{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.search-field{
  border-radius: 0%;
}

.dropdown-field{
  margin-left: 5px;
}

#dropdown-basic-button{
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  height: 100%;
  width: 100%;
}

#dropdown-basic-button.dropdown-toggle.show{
  background-color: #DA0037;
  border: 1px aliceblue;
}

#dropdown-basic-button::after{
  scale: 1.5;
}

#dropdown-basic-button:hover{
  background-color: #DA0037;
  border: 1px aliceblue;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  height: 100%;
  width: 100%;
}

.form-control:focus {
  border-color:#DA0037;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px#DA0037;
}

.search-icon{
  scale:1.5;
}

.icon-satellite{
  scale: 1.5;
}

.rocket-icon{
  width: max-content;
  height:6rem;
  background-color: transparent;
  border: none;
}










