.home-container{
  background-image: linear-gradient(to right top, #171717, #1f1f1f, #272727, #2f2f2f, #383838, #413e48, #4d4256, #5c4663, #7c416d, #a03369, #c21c57, #da0037);
  height: 100vh;
}

.card-title{
  font-size: 30px;
  margin-bottom: 10px;
}

.line-dash{
  rotate: 90deg;
  scale: 3;
  margin-left: 15px;
  margin-top: 0;
  margin-bottom:0;
}
