.message-container-them{
  background-color: rgb(172, 201, 226);
  margin-bottom: 5px;
  padding: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.message-container-me{
  background-color: black;
  margin-bottom: 5px;
  padding: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.message-me{
  color: aliceblue;
}

#messages-container{
  min-height: 400px;
  max-height: 400px;
  margin-bottom: 10px;
  overflow:auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.moment-text{
  font-size: small;
  margin-bottom: 0px;
}

.text-bold{
  font-weight: bold;
}

.send-icon{
  scale: 1.5
}

.send-btn{
  background-color: #444444;
  color: #EDEDED;
  border: 1px #EDEDED solid;
  font-size: 15px;
  text-align: center;

}


.send-btn:hover{
  background-color: #DA0037;
  border: 1px #EDEDED solid;

}
