.message-container-them{
  background-color: rgb(172, 201, 226);
  margin-bottom: 5px;
  padding: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.message-container-me{
  background-color: black;
  margin-bottom: 5px;
  padding: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.message-me{
  color: aliceblue;
}

#messages-container{
  min-height: 400px;
  max-height: 400px;
  margin-bottom: 10px;
  overflow:auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}
