.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #EDEDED;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #444444;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #DA0037;
}

.display-4{
    color: white;
}