#headerLink {
    margin-left:15px
}
.headerLink {
    margin:15px
}
.headerLink:hover {
    color: #DA0037 !important;
}

.title {
    color: #DA0037;
    cursor: pointer;
}

#headerc {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.logout-btn{
    background-color: #444444;
    color: #EDEDED;
    border: 1px #EDEDED solid;
    margin:0;
    margin-right: 15px
}

.logout-btn:hover{
    background-color: #DA0037;
    border: 1px #EDEDED solid;
}

.signed-in-text{
    margin-right: 10px;
}

.notif-badge{
    margin-right: 20px;
    cursor: pointer;
}