.headerLink {
    margin: 15px;
}
.headerLink:hover {
    text-shadow: 1px 1px 5px red;
}

.title {
    color: #DA0037;
    cursor: pointer;
}

#headerc {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.logout-btn{
    background-color: #444444;
    color: #EDEDED;
    border: 1px #EDEDED solid;
    margin:0;
}

.logout-btn:hover{
    background-color: #DA0037;
    border: 1px #EDEDED solid;
}