@font-face {
    font-family: 'Silkscreen'; /*a name to be used later*/
    src: url('../media/Silkscreen/slkscr.ttf'); /*URL to font*/
}

.loginPageHeader {
    color: #f56666;
    font-family: "Silkscreen";
    font-weight: normal;
    background-color: #444444;opacity: 0.75;;
    width: 30%;
    margin-inline: auto;
}

.failed{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #f56666;    }
    49%{    color: #f56666; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #f56666;    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.background {
    background: linear-gradient(-45deg, #171717, #444444, #DA0037, #EDEDED);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

.topHeader {
    margin-top: 15%;
}

input {
    height: 5vh;
    border-style: solid;
    border-width: 2px;
    border-color: #DA0037;
    background-color: #444444;
    color:#DA0037
}

.btn {
    border-style: solid;
    border-width: 2px;
    border-color: #DA0037;
    background-color: #444444;
}

#hide {
    display: inline-block;
    max-width: 0%;
    vertical-align: bottom;
    overflow: hidden;
    white-space: nowrap;
    transition: max-width 1s ease-in-out;
  }

  h1:hover #hide {
  max-width: 100%;
}