.background {
    background-image: url(../media/space.gif);
    height: 100vh
}
.radiobutt{
    margin-left: 30px;
}

.card{
 background-color: #f61919;
 height: 15%;
 width:15%;
 margin-top: 80px;
margin-left: 25px;
  border-radius: var(--card-radius);
 display:inline-block;
 position: relative; 
}