#bigricon {
    height: 200px;
}

#vehicletext {
    display: flex;
}

#vehiclepics {
    display: flex;
    justify-content: space-around;
}

#vehiclescard {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 30vw;
    margin: 3px;
    background-color: aliceblue;
    
}
#cardsizer{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding: 1rem;
}
