#bigricon {
    height: 200px;
}

#vehicletext {
    display: flex;
}

#vehiclepics {
    display: flex;
    justify-content: space-around;
}

#vehiclescard {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 49vw;
    margin: 3px;
    box-shadow: 5px 5px 5px black;
}

/* #flexwrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 35vw;
} */
