.categoryTitle {
    border: outset;
    border-radius: 10;
    font-size: 20;
    border-color: rgb(34, 16, 117);
    color: aliceblue;
}

.categoryTile {
    border: outset;
    border-radius: 10;
    font-size: 14;
    border-color: rgb(34, 16, 117);
    color: aliceblue;
}

.makeNew {
    display:none;
    
}



.text-center {
    text-align: center;
}

button[type="button"]
{
    border: #000000 solid 1px;
    
}

.inputFields {
    border: black solid 1px;
    margin-right: 10px;
    margin-left:15px;
    width: 20%;

}