.categoryTitle {
    border: outset;
    border-radius: 10;
    font-size: 20;
    border-color: rgb(34, 16, 117);
    color: aliceblue;
}

.categoryTile {
    border: outset;
    border-radius: 10;
    font-size: 14;
    border-color: rgb(34, 16, 117);
    color: aliceblue;
}

.makeNew {
    display:none;
    
}