/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body{
    background: linear-gradient(45deg, hsla(0, 0%, 9%, 1) 20%, hsla(345, 74%, 32%, 1) 79%, hsla(345, 100%, 43%, 1) 100%);
}

footer{
    height: 50px;
    background-color: rgba(255, 255, 255, 0.55);;
}